# HW1

In [1]:
from scipy.io import arff
import pandas as pd
import numpy

#### Create a new dataframe with only 4 feataures (and and Bankruptcy).

In [2]:
data = arff.loadarff('4year.arff')
df = pd.DataFrame(data[0],columns=['Attr1', 'Attr2', 'Attr7','Attr10','class'])
df

         Attr1    Attr2     Attr7   Attr10 class
0     0.159290  0.46240  0.189480  0.38330  b'0'
1    -0.127430  0.46243 -0.127430  0.53757  b'0'
2     0.070488  0.23570  0.086895  0.67689  b'0'
3     0.136760  0.40538  0.136760  0.58938  b'0'
4    -0.110080  0.69793 -0.110080  0.30207  b'0'
...        ...      ...       ...      ...   ...
9787  0.004676  0.54949  0.013002  0.43205  b'1'
9788 -0.027610  0.60748 -0.027610  0.33509  b'1'
9789 -0.238290  0.62708 -0.240360  0.17760  b'1'
9790  0.097188  0.75300  0.104280  0.24700  b'1'
9791  0.021416  0.48678  0.027253  0.51267  b'1'

[9792 rows x 5 columns]

#### Fill-in the missing values na with the mean.

In [3]:
df.isnull().sum()

Attr1     1
Attr2     1
Attr7     1
Attr10    1
class     0
dtype: int64

In [4]:
from sklearn.preprocessing import Imputer
imr = Imputer(missing_values='NaN', strategy='mean', axis=0)
imr = imr.fit(df.values)
df1 = imr.transform(df.values)
df1

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

array([[ 0.15929 ,  0.4624  ,  0.18948 ,  0.3833  ,  0.      ],
       [-0.12743 ,  0.46243 , -0.12743 ,  0.53757 ,  0.      ],
       [ 0.070488,  0.2357  ,  0.086895,  0.67689 ,  0.      ],
       ...,
       [-0.23829 ,  0.62708 , -0.24036 ,  0.1776  ,  1.      ],
       [ 0.097188,  0.753   ,  0.10428 ,  0.247   ,  1.      ],
       [ 0.021416,  0.48678 ,  0.027253,  0.51267 ,  1.      ]])

In [5]:
df2 = pd.DataFrame(df1)
df2

             0        1         2        3    4
0     0.159290  0.46240  0.189480  0.38330  0.0
1    -0.127430  0.46243 -0.127430  0.53757  0.0
2     0.070488  0.23570  0.086895  0.67689  0.0
3     0.136760  0.40538  0.136760  0.58938  0.0
4    -0.110080  0.69793 -0.110080  0.30207  0.0
...        ...      ...       ...      ...  ...
9787  0.004676  0.54949  0.013002  0.43205  1.0
9788 -0.027610  0.60748 -0.027610  0.33509  1.0
9789 -0.238290  0.62708 -0.240360  0.17760  1.0
9790  0.097188  0.75300  0.104280  0.24700  1.0
9791  0.021416  0.48678  0.027253  0.51267  1.0

[9792 rows x 5 columns]

In [6]:
df2.isnull().sum()

0    0
1    0
2    0
3    0
4    0
dtype: int64

#### Properly rename the columns to X1, X2, X7, and X10.

In [7]:
df2.columns=['net profit / total assets','total liabilities / total assets','EBIT / total assets','equity / total assets','class']
df2

,net profit / total assets,total liabilities / total assets,EBIT / total assets,equity / total assets,class
0,0.159290,0.46240,0.189480,0.38330,0.0
1,-0.127430,0.46243,-0.127430,0.53757,0.0
2,0.070488,0.23570,0.086895,0.67689,0.0
3,0.136760,0.40538,0.136760,0.58938,0.0
4,-0.110080,0.69793,-0.110080,0.30207,0.0
...,...,...,...,...,...
9787,0.004676,0.54949,0.013002,0.43205,1.0
9788,-0.027610,0.60748,-0.027610,0.33509,1.0
9789,-0.238290,0.62708,-0.240360,0.17760,1.0
9790,0.097188,0.75300,0.104280,0.24700,1.0
9791,0.021416,0.48678,0.027253,0.51267,1.0

#### Find the mean and std of the 4 features among all, bankrupt and still-operating companies (3 groups).

In [8]:
print("mean:\n",df2.mean())
print("\n")
print("std:\n",df2.std())

mean:
 net profit / total assets           0.043019
total liabilities / total assets    0.596404
EBIT / total assets                 0.059446
equity / total assets               0.389040
class                               0.052594
dtype: float64


std:
 net profit / total assets           0.359303
total liabilities / total assets    4.586887
EBIT / total assets                 0.533317
equity / total assets               4.590064
class                               0.223233
dtype: float64

In [9]:
df3 = df2[df2['class']==1.0]
print("mean:\n",df3.mean())
print("\n")
print("std:\n",df3.std())

mean:
 net profit / total assets          -0.068873
total liabilities / total assets    0.878355
EBIT / total assets                -0.061538
equity / total assets               0.103367
class                               1.000000
dtype: float64


std:
 net profit / total assets           0.568076
total liabilities / total assets    1.945596
EBIT / total assets                 0.568432
equity / total assets               1.946747
class                               0.000000
dtype: float64

In [10]:
df4 = df2[df2['class']==0.0]
print("mean:\n",df4.mean())
print("\n")
print("std:\n",df4.std())

mean:
 net profit / total assets           0.049231
total liabilities / total assets    0.580752
EBIT / total assets                 0.066162
equity / total assets               0.404899
class                               0.000000
dtype: float64


std:
 net profit / total assets           0.343002
total liabilities / total assets    4.689694
EBIT / total assets                 0.530524
equity / total assets               4.692934
class                               0.000000
dtype: float64

#### How many companies have X1 values 1 std below the mean AND X10 values 1 std below the mean?

In [11]:
x1mean = df2['net profit / total assets'].mean()
x1std = df2['net profit / total assets'].std()
sum((df2['net profit / total assets']<(x1mean-x1std)) == True)

284

In [12]:
x10mean = df2['equity / total assets'].mean()
x10std = df2['equity / total assets'].std()
sum((df2['equity / total assets']<(x10mean-x10std)) == True)

24

#### What is the ratio of the bankrupted companies among the sub-groups above?

In [13]:
sum((df2['class']==1.0) == True)/(sum((df2['class']==1.0) == True) + sum((df2['class']==0.0) == True))

0.052593954248366014